<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
    
  <head>
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Maverick</title>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous"
        />
    
        <link
          rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='index.css') }}"
        />
    <meta charset="UTF-8">
    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo"><a href="/">Goal Diggers</a></div>
      <!-- <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Latest</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
      <div class="buttons">
        <form action="/login_page" method="post">
        <input type="submit" method="LOGIN" value="Login via Sawo">
      </form>
      </div>
    </nav>
    <!-- <div class="text-content">
      <h2>How Effective <br>Are Online Courses?</h2>
      <p>A deep dive into the analytics of the <b>Coursera & Udemy</b> courses in the education industry. Login via <b>Sawo</b> to view your udemy and coursera analytics now! <i>[Coming Soon]</i> </p>
      <div class="buttons">
      <form action="/login_page" method="post">
        <input type="submit" method="LOGIN" value="Udemy Analytics"> <br>
      </form>
      <form action="/login_page" method="post">
        <br> <input type="submit" method="LOGIN" value="Coursera Analytics"> <br>

      </form>
      </div>
      
    </div> -->
    
    <!-- <div class="play-button">
      <span class="play">Play Video</span>
      <i class="fas fa-play" onclick="click()"></i>
    </div> -->
  </header>


  


</body>

</html>
